{%extends "template.html"%}

{%block titulo%}Login{%endblock%}

{%block conteudo%}

{%if messages%}
    {%for msg in messages%}
        <p>{{msg}}</p>
    {%endfor%}
{%endif%}

    <h1>Login</h1>
    <form action="post">
        {%csrf_token%}

        <label>Nome</label>
        <input type="text" name="nome" required>
        <br>

        <label>Senha</label>
        <input type="password" name="senha" required>
        <br>
        <input type="submit" value="Entrar">
    </form>
    <p>
        Não tem conta?
        <a href="{%url 'cadastroUsuario'%}">Cadastre-se aqui</a>
    </p>
{%endblock%}